Source: python-crank
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools,
Build-Depends-Indep: python-nose,
                     python-webob,
                     python3-nose,
                     python3-webob,
Standards-Version: 3.9.6
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/python-crank.git/
Vcs-Git: https://anonscm.debian.org/git/openstack/python-crank.git
Homepage: https://github.com/TurboGears/crank

Package: python-crank
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
Description: dispatch mechanism for use across frameworks - Python 2.7
 Generalized Object based Dispatch mechanism for use across frameworks.
 .
 This package contains the Python 2.7 module.

Package: python3-crank
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
Description: dispatch mechanism for use across frameworks - Python 3.x
 Generalized Object based Dispatch mechanism for use across frameworks.
 .
 This package contains the Python 3.x module.
